/* General styles for all menus */
.cbp-spmenu {
  background: #E3EBEC;
  position: fixed;
}

.button1:active {
  background-color: #D2691E;
}
.button2:active {
  background-color: #D2691E;
}
.button3:active {
  background-color: #D2691E;
}
.button4:active {
  background-color: #D2691E;
}

/*.cbp-spmenu a {
  display: block;
  color: #000000;
  background-color: #FDF8FF;
  font-size: 1.1em;
  font-weight: 300;
}*/

/*.cbp-spmenu a:hover {
  background: #258ecd;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}*/

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 1008;
}

.cbp-spmenu-vertical a {
  /* border-bottom: 1px solid #258ecd;
  padding: 1em;
  background-color:#ffffff;*/
  text-decoration: none;

}
.cbp-spmenu-vertical a img{
  padding-bottom:2px;
    border:0;
}

/* Vertical menu that slides from the left or right */



.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

.cbp-spmenu-left {
  left: -240px;
}


.cbp-spmenu-left.cbp-spmenu-close {
  left: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  .cbp-spmenu-top {
    top: -110px;
  }

  .cbp-spmenu-bottom {
    bottom: -110px;
  }

}

#showRight{
float: left;
margin-left: 0px;
}


#cbp-spmenu-s2{
overflow-y: scroll;
}

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  .cbp-spmenu-right {
    right: -190px;
  }
  .cbp-spmenu-left {
    left: -190px;
  }

  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
.loading-icon {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10000;
  -moz-animation-duration: 10s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-name: fullrotate;
  -webkit-animation-name: fullrotate;
  animation-name: fullrotate;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.loading-icon > div {
  position: absolute;
  background-color:#16F042;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-name: loader;
  -webkit-animation-name: loader;
  animation-name: loader;
  -moz-animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.loading-bar-0 {
  width: 40px;
  height: 40px;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.loading-bar-1 {
  width: 60px;
  height: 60px;
  -moz-animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loading-bar-2 {
  width: 80px;
  height: 80px;
  -moz-animation-delay: -1s;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.loading-bar-3 {
  width: 100px;
  height: 100px;
  -moz-animation-delay: -1.5s;
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

.loading-bar-4 {
  width: 120px;
  height: 120px;
  -moz-animation-delay: -2s;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.loading-bar-5 {
  width: 140px;
  height: 140px;
  -moz-animation-delay: -2.5s;
  -webkit-animation-delay: -2.5s;
  animation-delay: -2.5s;
}

.loading-bar-6 {
  width: 160px;
  height: 160px;
  -moz-animation-delay: -3s;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

@-moz-keyframes loader {
  0% {
    opacity: 0;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(0);
    transform: translateX(-50%) translateY(-50%) rotate(0);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    background-color:#16F042;
    -moz-transform: translateX(-50%) translateY(-50%) rotateX(180deg) rotate(360deg);
    transform: translateX(-50%) translateY(-50%) rotateX(180deg) rotate(360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0);
    transform: translateX(-50%) translateY(-50%) rotate(0);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    background-color:#16F042;
    -webkit-transform: translateX(-50%) translateY(-50%) rotateX(180deg) rotate(360deg);
    transform: translateX(-50%) translateY(-50%) rotateX(180deg) rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 0;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(0);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(0);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0);
    transform: translateX(-50%) translateY(-50%) rotate(0);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    background-color:#16F042;
    -moz-transform: translateX(-50%) translateY(-50%) rotateX(180deg) rotate(360deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotateX(180deg) rotate(360deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotateX(180deg) rotate(360deg);
    transform: translateX(-50%) translateY(-50%) rotateX(180deg) rotate(360deg);
  }
}
@-moz-keyframes fullrotate {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes fullrotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes fullrotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
