




.result {
	font-family: verdana, arial;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}

tr.rowone 
{
	font-size: 20px; line-height:30px;
	font-family: Verdana, Helvetica, sans-serif; 
	color: #333; background-color: #ededed;
	height: 50px;text-shadow: 0 1px 0 #f3f3f3;
} 

tr.rowtwo 
{
	font-size: 20px; line-height:30px;
	font-family: Verdana, Helvetica, sans-serif; 
	color: #333; background-color:#ededed;
	height: 50px;
	text-shadow: 0 1px 0 #f3f3f3;
} 

tr.rowtop
{
	font-size: 20px; height:50px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	font-weight:900; color: #ffffff; background-color: #006400;
	text-align: center;
}
td a
{
	display: block;
	text-decoration:none;
	
}

select, label {
	font-family: verdana, arial;
	font-size: 12px;
}

label,input {
	width: 250px;
	float: left;
	margin-bottom: 5px;
	margin-left: 10px;
}

label {
	text-align: right;
	width: 125px;
	padding-right: 20px;
	font-weight: bold;
}



#labeltype, #cbotype{
	margin-top: 15px;
	width:250px;
}

#clang label{
	width:250px;
}

/*** for species list ***/

#sidetreecontrol {
	margin-top: 10px;
}

li, #sidetreecontrol {
	font-family: verdana, arial;
	font-size: 12px;
	line-height: 12px;
	margin-left: 25px;
	text-align: justify;
}

#tree, #sidetreecontrol
{
	margin-left: 20px;
}

#species {
		width: 350px;
		height: 400px;
		border: solid 1px #BBB;		
		background: #FFF;
		overflow-y: scroll;
		padding: 5px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		text-align: center;
	}



/*
#species {
	display: none;
	visibility: hidden;
}
*/
